@font-face {
    font-family: "Clash Display Variable";
    src: url("../assets/fonts/ClashDisplay-Variable.woff2") format("woff2"),
         url("../assets/fonts/ClashDisplay-Variable.woff") format("woff");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }